<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>wiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="page">
      <h2>Page {{.}} not found. Create?</h2>

      <form method="POST">
        <textarea name="content"
                  rows="8"
                  cols="80"></textarea>
        <button type="submit">create</button>
      </form>
    </div>

</span>
</body>
</html>
