<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>wiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="page">
      <h2><a href="/w/{{.Doc.ID}}">link to this</a></h2>

      {{if .Doc.Parent}}
      <h2><a href="/w/{{.Doc.Parent}}">parent</a></h2>
      {{end}}

      <h2>Content</h2>
      {{if gt .Doc.Size 100000}}
      Too big for view
      <h2><a href="/blob?id={{.Doc.ID}}">RAW</a></h2>
      {{else}}
      <pre>{{.Doc.Content}}</pre>

      <h2>Edit</h2>
      <form method="POST">
        <input type="hidden"
               name="id"
               value="{{.Doc.ID}}"></input>
        <textarea name="content"
                  rows="8"
                  cols="80">{{.Doc.Content}}</textarea>
        <button type="submit">fork</button>
      </form>
      {{end}}
    </div>

      <div class="history">
        <h2>History</h2>
        {{range .History}}
        <li><a href="/w/{{.ID}}">{{.ID}}</a></li>
        {{end}}
      </div>
</span>
</body>
</html>
